:root{
    --fg: #241910;
    --bg: #fefbf4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
}

p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--fg);
}

.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.primary{
    background-color: var(--fg);
}

.btn.primary a{
    color: var(--bg);
}

.btn.secondary{
    background-color: var(--bg);
    border: 1px solid var(--fg);
}

.btn.secondary a{
    color: var(--fg);
}

nav {
    position: fixed;
    width: 100vw;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    background-color: rgba(255,255,255,0.9);
}

nav > div {
    flex: 1;
}

nav .nav-links {
    display: flex;
    gap: 3rem;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    width: 2rem;
    margin-right: 0.5rem;
}

nav .logo a {
    text-transform: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

nav .nav-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.outro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--bg);
    color: var(--fg);
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--fg);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.client-logos {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.client-logos .client-logo {
    width: 50px;
    height: 50px;
}

.hero-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}